@using AspNewStudy.Helpers;
@{
    ViewBag.Title = "Home Page";
}

@{ 
    string[] movies = new string[] { "Batman", "Joker", "Streets", "Buisnesmen", "Lable", 
                                     "Space", "Jonny", "The Fortune", "Jentelmen", "New Year" };
}

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h1>Information about Accounts</h1>
            <p><a href="~/Views/Account/Index.cshtml" class="btn btn-primary btn-lg">See Accounts</a></p>
        </div>
    </div>
 </div>

    <!--<div class="row">
        <div col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
            @*<div>
                <p>This is Home Page</p>
            </div>
            <div>
                @Html.Partial("PartialView");
            </div>*@


            <!--<div>
                ListHelper.CreateList(Html, movies);
            </div>
        </div>

    </div>
</div>-->